$primary: #ff5400;

$font-light: #fff;
$font-grey: #778;
$font-dark: #000;

$border-light: #fff;
$background-light:#fff;
$border-grey-light: #eee;
$background-grey:#a7a7a7;
$background-grey-dark: #363636;
$background: #151515;
$background-dark-absolute:#000;
$success: #69af00;
