@import "./imports.scss";

.ui.form {
  .ui.input {
    input {
      border: 1px solid $border-grey-light;
      font-size: 16px;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .ui.button.submit {
    background: $primary;
    color: $font-light;
    margin: 0;
  }
}
