.order {
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin-bottom: 10px;
  background: $background-light;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);

  &:last-of-type {
    margin-bottom: 0;
  }

  &__info {
    display: flex;
    a {
      height: 100%;
      .ui.image {
        height: 100%;
        margin-right: 20px;
      }
    }
  }
}
